$--color-primary: #f3652f; /* Giants Orange - Primary actions and highlights */
$--color-text-main: #292d2f; /* Jet - Main text and backgrounds */
$--color-bg-secondary: #d3edf4; /* Light Cyan - Backgrounds and secondary elements */
$--color-accent: #ff9e79; /* Atomic Tangerine - Hover states and accents */
$--color-border-secondary: #335c72; /* Payne's Gray - Borders and secondary text */
$--color-bg-light: #ffffff; /* White - Backgrounds and text on dark backgrounds */
$--font: font-family "Inter", sans-serif;
