@import "/src/styles/partials/variables";

.login {
  background-color: $--color-bg-secondary;
  height: 100%;
  display: flex;
  margin: auto;

  &__panel {
    width: 350px;
    margin: auto;
    background-color: $--color-bg-light;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__form {
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      input {
        // font-size: 14px;
        padding: 5px;
        border-radius: 5px;
        outline: none;
        border: 1px solid $--color-border-secondary;
      }
    }
  }
}
